/* General CSS Codes */

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #333 !important;
    overflow: hidden;
}

.wrapper {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}
.header {
    color: #fff;
}
.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

.main {
    background-color: #2d3436;
    padding: 20px;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
    line-height: normal;
}

p,a,li,button,ul {
    margin: 0;
    padding: 0;
    line-height: normal;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

/* --- Navbar Start --- */
.navbar {
    padding: 48px 50px;
    display: flex;
    margin: auto;
    top: 0;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    background-color: transparent;
    position: absolute !important;
    width: 94%;
    z-index: 99;
    transition: 0.32s ease-in-out;
    


}

.navbar .logo{
    margin-left: 10%;
    float: left;
}
.nav-links {
    margin-right:20px;
    
}

.nav-links li {
    margin-right: 20px; 
}
.nav-links li a:hover {
    color: #d8d5d5;
}
.nav-links .connect:hover {
    color: #1f2324;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
}

.logo img{
    width: 70%;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
}

.menu-toggle {
    display: none;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 4px 0;
}
.connect{
    border: 1px solid #fff;
    padding: 9px;
    border-radius: 11px;
}
.connect:hover{
    background-color: #fff;
    color: #333;
    transition: 0.25s ease-in-out;

}

.banner-img{
    background: url("../img/banner-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

@media (max-width: 768px) {
    .wrapper {
        grid-template-rows: auto auto auto; 
    }
    .navbar {
                flex-direction: column;
                align-items: flex-start;
            }
            
            .nav-links {
                display: none;
                flex-direction: column;
                width: 100%;
                position: absolute;
                top: 55px;
                left: 0;
                background-color: #444;
                transition: transform 0.3s ease-in-out;
            }
        
            .nav-links.active {
                transform: translateY(0);
            }
        
            .menu-toggle {
                display: block;
            }
            .navbar .logo{
               margin-left: -70px;
               padding: 0;
            }
            .banner img{
                display: none;
            }

            .nav-links li {
             margin: 30px 0;
            text-align: center;
                
            }

        .nav-links li a {
         text-decoration: none;
        color: #fff;
        font-size: 18px;
        
        transition: color 0.3s ease;
          }

.nav-links li :hover {
    color: #B8B8B8; 
}
.nav-links {
    display: none;
}
.menu-toggle {
    background: none;
    border: none;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
    right: 10px;
    top: 0px;
    position: absolute;
    
}

}




.css-slider-wrapper {
  display: block;
  background: #FFF;
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

/* Slider */
.slider {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 1;
  z-index: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  -webkit-transition: -webkit-transform 1600ms;
  transition: -webkit-transform 1600ms, transform 1600ms;
  -webkit-transform: scale(1);
  transform: scale(1);
}
 .slider-content h4, .slider-content h2{
    color: #c8d6e5 !important;

 }
/* Slides Background Color */
.slide-1 {
  background: #000;
  left: 0;
  
}
.slide-2 {
  left: 100%;
  background:#000;
}
.slide-3 {
background:#000;

  left: 200%
}
.slide-4 {
background:#000;

  left: 300%;
}
.slider {
  display: flex;
  justify-content: flex-start;
}
.slider-content {
  width: 635px;
  padding-left: 100px;
}


.slider h2 {
  color: #333333;
  font-weight: 900;
  text-transform: capitalize;
  font-size: 60px;
  font-weight: 300;
  line-height: 1.2;
  opacity: 0;
  -webkit-transform: translateX(500px);
  transform: translateX(500px);
  margin-top: 0;
  letter-spacing: 2px;
}
 
.slider h4 {
  font-size: 22px;
  font-family: "Oswald";
  color: rgba(51, 51, 51, 0.349);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  opacity: 0;
  -webkit-transform: translateX(500px);
  transform: translateX(500px);
}
 
.slider > img {
  position: absolute;
  right: 10%;
  bottom: 0;
  height: 100%;
  opacity: 0;
  -webkit-transform: translateX(500px);
  transform: translateX(500px);
}
 
.slide-1 > img {
  right: 0;
}
 
.explore-now-btn {
background-color: #c8d6e5;
  width: 130px;
  height: 50px;
  border-radius: 30px;
  border: none;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 100;
  color: #1f2324;
  text-align: left;
  padding-left: 35px;
  position: relative;
  cursor: pointer;
  transition: all .2s;
}
 
.explore-now-btn:hover {
  box-shadow: 0px 0px 60px -17px rgba(51,51,51,1);
}
 
.explore-now-btn:after {
  
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  position: absolute;
  right: 35px;
  top: 18px;
}
 
.slider .explore-now-btn:focus,
.navigation .login-btn:focus {
  outline: none;
}

/*Let’s also make sure that when the slide changes, elements within it — such as text and images — animate.*/
/* Animations */
.slider h2 {
  -webkit-transition: opacity 800ms, -webkit-transform 800ms;
  transition: transform 800ms, opacity 800ms;
  -webkit-transition-delay: 1s; /* Safari */
  transition-delay: 1s;
}
.slider h4 {
  -webkit-transition: opacity 800ms, -webkit-transform 800ms;
  transition: transform 800ms, opacity 800ms;
  -webkit-transition-delay: 1.4s; /* Safari */
  transition-delay: 1.4s;
}
.slider > img {
  -webkit-transition: opacity 800ms, -webkit-transform 800ms;
  transition: transform 800ms, opacity 800ms;
  -webkit-transition-delay: 1.2s; /* Safari */
  transition-delay: 1.2s;
}

/*number pagination in the right corner of each slide. Let’s style that, too*/
/* Number Pagination */
.number-pagination {
  position: absolute;
  bottom: 30px;
  right: 100px;
  font-family: "Oswald";
  font-weight: bold;
}
 
.number-pagination span {
  font-size: 30px;
  color: #ea2e49;
  letter-spacing: 4px;
}
 
.number-pagination span:after {
  content: "/4";
  font-size: 16px;
  color: #fff;
}

/*Awesome! Now, style the slider pagination.*/
/* Slider Pagger */
.slider-pagination {
  position: absolute;
  bottom: 30px;
  width: 575px;
  left: 100px;
  z-index: 1000;
  display: flex;
  align-items: center;
}
.slider-pagination label {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-block;
  background: #fff;
  margin: 0 10px;
  cursor: pointer;
}
/*magically style the radiobuttons to the label styles*/
/* Slider Pagger Event */
.slide-radio1:checked ~ .slider-pagination .page1,
.slide-radio2:checked ~ .slider-pagination .page2,
.slide-radio3:checked ~ .slider-pagination .page3,
.slide-radio4:checked ~ .slider-pagination .page4 {
  width: 14px;
  height: 14px;
  border: 2px solid #ea2e49;
  background: transparent;
}
 
/* Slider Slide Effect */
.slide-radio1:checked ~ .slider {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}
.slide-radio2:checked ~ .slider {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}
.slide-radio3:checked ~ .slider {
  -webkit-transform: translateX(-200%);
  transform: translateX(-200%);
}
.slide-radio4:checked ~ .slider {
  -webkit-transform: translateX(-300%);
  transform: translateX(-300%);
}
 
.slide-radio1:checked ~ .slide-1 h2,
.slide-radio2:checked ~ .slide-2 h2,
.slide-radio3:checked ~ .slide-3 h2,
.slide-radio4:checked ~ .slide-4 h2,
.slide-radio1:checked ~ .slide-1 h4,
.slide-radio2:checked ~ .slide-2 h4,
.slide-radio3:checked ~ .slide-3 h4,
.slide-radio4:checked ~ .slide-4 h4,
.slide-radio1:checked ~ .slide-1 > img,
.slide-radio2:checked ~ .slide-2 > img,
.slide-radio3:checked ~ .slide-3 > img,
.slide-radio4:checked ~ .slide-4 > img {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  opacity: 1
}

.moon{
    position: absolute;
    float: right;
   display: flex; 
   width: 500px;
   right: 150px;
  margin: 100px auto;
  animation: spin 140s linear infinite;
  
}

.earth{
    position: absolute;
    float: right;
   display: flex; 
   width: 500px;
   right: 150px;
  margin: 100px auto;
  animation: spin 140s linear infinite;
  
}
.earth2{
display: none !important;

}
.earthWsun{
    position: absolute;
    float: right;
   display: flex; 
   width: 100px;
   right: 150px;
   top: 100px;
  margin: 100px auto;
  
animation: orbit-left 40s linear infinite;

}

.mars{
    position: absolute;
    float: right;
   display: flex; 
   width: 500px;
   right: 150px;
  margin: 100px auto;
animation: growAndCurve 140s linear infinite;

  
}
.jupiter{
    position: absolute;
    float: right;
   display: flex; 
   width: 700px;
   right: 150px;
  margin: 100px auto;
animation: growAndCurve 300s linear infinite;
 
}
.satellite{
    position: absolute;
    float: right;
   display: flex; 
   width: 100px;
   right: 750px;
   top: 100px;
  margin: 100px auto;
  
animation: orbit-left 40s linear infinite;

}
/* Responsive */
@media (max-width: 768px) {
  .slider h2 {
    font-size: 20px;
  }
  .slider h4 {
    font-size: 16px;
  }
 
  .slider-content {
    padding: 0 2%;
    width: 1000px;
    
  }
 
  .navigation {
    padding: 0 2%;
  }
 
  .navigation-left {
    display: none;
  }
 
  .number-pagination {
    right: 2%;
  }
  .slider-pagination {
    left: 2%;
  }
 
  .slider .explore-now-btn {
    padding: 0 15px;
    width: 175px;
    height: 42px;
  }
 
  .slider .explore-now-btn:after {
    top: 15px;
  }
 
  .slider > img {
    right: 2%;
  }
 
  .slide-1 > img {
    right: -110px;
  }

 
.earth,.moon, .mars, .jupiter{
display: flex !important;
position: fixed;
right:60px; 
width:250px;
}
.sun{
display: flex !important;
position: fixed !important;
top: 10px !important;
right:10px !important; 
width:100px !important;
}

}






@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes orbit-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes growAndCurve {
  0% {
    transform: scale(1) translateY(0);
    opacity: 1;
  }
  50% {
    transform: scale(1.5) translateY(-50%);
    opacity: 0.7;
  }
  100% {
    transform: scale(2) translateY(-100%);
    opacity: 0;
  }
}