
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Montserrat&family=Open+Sans:wght@300;400&family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap');


/* General CSS Codes */

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #333 !important;
}

.wrapper {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}
.header {
    color: #fff;
}
.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

.main {
    background-color: #2d3436;
    padding: 20px;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
    line-height: normal;
}

p,a,li,button,ul {
    margin: 0;
    padding: 0;
    line-height: normal;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    .wrapper {
        grid-template-rows: auto auto auto; 
    }
}


/* --- Navbar Start --- */
.navbar {
    padding: 48px 50px;
    display: flex;
    margin: auto;
    top: 0;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    background-color: transparent;
    position: absolute !important;
    width: 94%;
    z-index: 99;
    transition: 0.32s ease-in-out;
    


}

.navbar .logo{
    margin-left: 10%;
    float: left;
}
.nav-links {
    margin-right:20px;
    
}

.nav-links li {
    margin-right: 20px; 
}
.nav-links li a:hover {
    color: #d8d5d5;
}
.nav-links .connect:hover {
    color: #1f2324;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
}

.logo img{
    width: 70%;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
}

.menu-toggle {
    display: none;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 4px 0;
}
.connect{
    border: 1px solid #fff;
    padding: 9px;
    border-radius: 11px;
}
.connect:hover{
    background-color: #fff;
    color: #333;
    transition: 0.25s ease-in-out;

}


/* Banner Start */
.banner{
    margin-top: 0;
    padding: 260px 0 100px;
    background-image: url('../img/banner-bg.png');
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    
}
.banner-text{
    margin-left:5%;
}
.banner .tagline {
    font-weight: 700;
    letter-spacing: 0.8px;
    padding: 8px 10px;
    background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
    border: 1px solid rgba(255, 255, 255, 0.5);
    font-size: 20px;
    margin-bottom: 5px;
    display: inline-block;
}
.banner h1 {
    font-size: 65px;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 1;
    margin-bottom: 20px;
    display: block;
}
.banner p {
    color: #B8B8B8;
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    width: 70%;
}
.banner img {
    animation: updown 3s linear infinite;
    justify-content: flex-end;
    margin: auto;
    padding: auto;
    animation: shake 4s infinite;
    
}
.banner button {
    color: #fff;
    background: none;
    border: none;
    font-weight: 700;
    font-size: 20px;
    margin-top: 60px;
    letter-spacing: 0.8px;
    display: flex;
    align-items: center;
    bottom: 0;
}
.banner button svg {
    width: 25px;
    margin-left: 5px;
    margin-top: 5px;
    transition: 0.3s ease-in-out;
    line-height: 1;
}
.banner button:hover svg {
    margin-left: 15px;
}
@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-10px);
    }
    75% {
        transform: translateX(10px);
    }
}

/* main content */

.card{
background: #1f2324 !important;
color: #fff !important;

}
.card .card-body img{
    width: 20%;
    margin-bottom: 10px;
}
.card-body .card-title{
    font-size: 15px;
}
.card-body .card-text{
    font-size: 14px;
}

/* Projects Component */
.content-m{
    margin-top: 80px;
}
 .footer
{
            padding:0 35px;
            width:auto!important;
           width: 100%;
            text-decoration: none;
            background: #000;
            color: white !important;
        }
       


        @media (max-width: 768px) {
            .navbar {
                flex-direction: column;
                align-items: flex-start;
            }
            
            .nav-links {
                display: none;
                flex-direction: column;
                width: 100%;
                position: absolute;
                top: 55px;
                left: 0;
                background-color: #444;
                transition: transform 0.3s ease-in-out;
            }
        
            .nav-links.active {
                transform: translateY(0);
            }
        
            .menu-toggle {
                display: block;
            }
            .navbar .logo{
               margin-left: -70px;
               padding: 0;
            }
            .banner img{
                display: none;
            }

            .nav-links li {
             margin: 30px 0;
            text-align: center;
                
            }

        .nav-links li a {
         text-decoration: none;
        color: #fff;
        font-size: 18px;
        
        transition: color 0.3s ease;
          }

.nav-links li :hover {
    color: #B8B8B8; 
}
.nav-links {
    display: none;
}
.menu-toggle {
    background: none;
    border: none;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
    right: 10px;
    top: 0px;
    position: absolute;
    
}



        }



.menu-open .nav-links {
    display: block;
}

.about-pic{
    border-radius: 11px !important;
}

.connect-us{
background-color: #15171a; 
border-radius:11px;
}